@import "base/css/meyer-reset.css";
@import "base/css/setup.css";
@import "base/css/typography.css";

/*DEFAULT STYLES*/
body * {
	/*border: 1px solid red;*/
}

body {
	font-family: sans-serif;
	/*background-color:#F8FF00;*/
	padding: 12px;
}

.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}

/*PROJECT STYLES*/

.main-info {
	font-size: 32px;
	line-height: 1.2;
	letter-spacing: .1em;
}


span {
	font-weight: 700;
}


