@import "base/css/meyer-reset.css";
@import "base/css/setup.css";
@import "base/css/typography.css";

body * {
	/*border: 1px solid red;*/
}

body {
	font-family: sans-serif;
}


.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}




