@import "base/css/meyer-reset.css";
@import "base/css/setup.css";
@import "base/css/typography.css";
@import "base/fonts/philly-sans/stylesheet.css";

/*DEFAULT STYLES*/
 body * {
	border: 1px solid red;

}

.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}

/*PROJECT STYLES*/

.portrait {
	max-width: 150px;
	border: 3px solid white;
	outline: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 5px;

}

.profile-text * {

	font-size:16px;
	line-height:2;
	letter-spacing: 0.05em;
	max-width:72ch;
	padding:20px;
}

.profile-text h1 {
	font-family: cursive;
	font-size: 24px; 
}

.profile-text a {
	font-family: sans-serif;
}






















