
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/graphic-diptych.css';
@import 'modules/call-to-action.css';
@import 'modules/articles-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';
/* should everything/nothing be in it's own file? */


/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}




/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
.site-header {
	/*background-color: #9ec9eb;*/
/*	position: sticky;
	top: 0;*/
	/*box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);*/
}
.site-header inner-column {
	padding: 14px;
}







/* OK! SITE STYLES! */
.site-header {
  background-color: var(--white);
  color: var(--white);
}

.welcome {
  
}


/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */


.get-involved {
  
  /*background-image:  url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
} /* interesting way to include the whole image in your CSS */

.get-involved inner-column {
	/*max-width:  700px;*/
}

.get-involved call-to-action {

}


.stuff {
  
}

.help-us {
  
}

.site-footer {
	background-color: var(--color);
	color: var(--white);
}

.site-footer .logo {
	max-width:  60px;
}


/*SHAYNE'S STYLE*/

body * {
	border:  1px solid #ff7600;
}
.site-header mast-head {
	display: flex;
}
.site-header mast-head  .site-menu a:hover {
	color: var(--primary-1);
}
.welcome graphic-diptych .text-content-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcome graphic-diptych text-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.welcome graphic-diptych text-content h1 {
	text-align: center;
}

.welcome graphic-diptych text-content p {
	font-size: 30px;
	color: var(--black);
	text-align: center;
	
}


.get-involved inner-column {
background: linear-gradient(0.25turn, var(--primary-1),var(--primary-2));
}

.stuff inner-column articles-intro article-card picture{ 
display:none;

}
.stuff inner-column articles-intro header h2 {
	color: var(--black);
	text-align: center;
}

.stuff inner-column articles-intro header p {
	color: var(--black);
	font-size: 14px;
}
@media (min-width: 700px) {
	.stuff inner-column articles-intro article-card picture {
		display: block;
	}
	.stuff inner-column articles-intro article-grid {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
	}
}
.help-us inner-column {
background: linear-gradient(0.25turn, var(--primary-1),var(--primary-2));
}

.help-us call-to-action {
	align-items: flex-end;
}

.help-us call-to-action p {
	text-align: end;
}


.site-footer {
	background-color: var(--black);
}

.site-footer site-map .site-menu {
padding-bottom: 10px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}

.site-footer site-map .site-menu .footer-main-links{
	display: flex;
	flex-direction: column;
}
.site-footer site-map .site-menu .footer-main-links:hover a {
	color: dimgrey;
}

.site-footer site-map .site-menu .footer-main-links a:hover {
	color: var(--white);
}

.site-footer site-map .site-menu a {
	color: var(--white);
	text-decoration: none;
}

.site-footer site-map .site-menu .logo-company-name {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.site-footer site-map nav:nth-of-type(1) a:hover {
	
} 

.site-footer .about-vr-products-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
} 
.site-footer site-map .footer-side-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
@media(min-width: 700px) {
	.site-footer site-map .footer-side-links {
		width: auto;
	}
}
.site-footer site-map .about-vr-products-menu nav:nth-of-type(1) a {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	color: dimgrey;	
}
.site-footer site-map .about-vr-products-menu nav:nth-of-type(2) a {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	color: dimgrey;	
}
.site-footer site-map .about-vr-products-menu nav:nth-of-type(3) a {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	color: dimgrey;	
}
.site-footer site-map .about-vr-products-menu nav a:hover {
	color: var(--white);
}
.site-footer site-map .footer-side-links h3.command-voice {
	padding-top: 110px;
}


