@import "meyer-reset.css";
@import "setup.css";
@import"typography.css";
body * {
	/*border: 1px solid red;*/
}





/*FLEXIBLE MODULE SETTINGS*/

.container {
	
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

}



/*DEFAULT SETTINGS*/
.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

}
body {
	background-color: black;
}

div {
	
	border-radius: 10px;
	
}

div p {
	padding: 40px;
}

.blue-box {
	background-color: #9acbff;
}

.pink-box {
	background-color: #ff999a;
}

.orange-box {
	background-color: #ffcc99;
}

.yellow-box {
	background-color: #ffee99;
}



