@import "meyer-reset.css";
@import "setup.css";
@import"typography.css";
body * {
	border: 1px solid red;
}





/*FLEXIBLE MODULE SETTINGS*/

.orange-container {

	min-height: 500px;
	background-color: #FFCC99;
	border-radius: 20px;


	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 15px;
}

.yellow-container-one {
	background-color: #FFED98;
	min-width: 40%;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	
}

.green-box-one {
	background-color: #98FFCA;
	border-radius: 20px;
	min-height: 15%;
	margin-left: 10px;
	margin-right: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

.pink-box-one {
	background-color: #FF99FF;
	height: 50px;
	min-width: 50%;	
	border-radius: 20px;
	margin-top: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.blue-box-one {
	background-color: #C9FDFB;
	width: 25px;
	height: 30px;
	border-radius: 20px;
	margin-left: 10px;
}

.blue-box-two {
	background-color: #C9FDFB;
	width: 25px;
	height: 30px;
	border-radius: 20px;
	margin-right: 10px;
}

.pink-box-two {
	background-color: #FF99FF;
	height: 50px;
	width:50px;	
	border-radius: 20px;
	margin-top: 10px;
}


.green-box-two {
	background-color: #98FFCA;
	border-radius: 20px;
	min-height: 35%;
	margin-left: 10px;
	margin-right: 10px;
}

.pink-box-three {
	background-color: #FF99FF;
	height: 150px;
	width:150px;	
	border-radius: 20px;
	margin: 10px;
}

.blue-box-three {
	background-color: #C9FDFB;
	width: 120px;
	height: 30px;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 10px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.red-circle-one {
	background-color: #ff999a;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}











.yellow-container-two {
	background-color: #FFED98;
	min-width: 20%;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom:10px;
	margin-right: 10px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
}

.green-box-three {
	background-color: #98FFCA;
	border-radius: 20px;
	min-height: 15%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.pink-box-four {
	background-color: #FF99FF;
	border-radius: 20px;
	height: 50px;
	width: 15px;
	margin-left: 10px;
	margin-top: 10px;
}

.green-box-four {
	background-color: #98FFCA;
	border-radius: 20px;
	min-height: 25%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.pink-box-five {
	background-color: #FF99FF;
	height: 50px;
	width: 100px;
	border-radius: 20px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.blue-circle-one {
	background-color: #ccffff;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	margin-right: 10px;
}

.pink-box-six {
	background-color: #FF99FF;
	height: 10px;
	width: 100px;
	border-radius: 20px;
}

.pink-box-seven {
	background-color: #FF99FF;
	height: 10px;
	width: 100px;
	border-radius: 20px;
}



/*DEFAULT SETTINGS*/
.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

}

