@import "meyer-reset.css";
@import "setup.css";
@import"typography.css";
body * {
	/*border: 2px solid red;*/

}

body {
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inner-column {
	width: 98%;
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
	
}

.profile + .profile {
	margin-top: 25px;
}

 .web-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;

	color: red;
}



/*ALPHA-NET SETTINGS*/

.profile {

	border: 5px solid black;
	border-radius: 10px;
	/*width:fit-content;*/



	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}


.portrait {
	max-width: 100px;
	border: 3px solid white;
	outline: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 5px;

}


.profile-text {



	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;




}


.profile-text * {

	font-size:16px;
	line-height:2;
	letter-spacing: 0.05em;
	max-width:72ch;
	padding:20px;

	
}

.profile-text h1 {
	font-family: cursive;
	font-size: 24px; 
}

.profile-text a {
	font-family: sans-serif;
}

@media (min-width:600px) {
	

	.profile {

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;

	}

	.profile-text {
		flex-basis: 60%;
	}


	.profile + .profile {
		margin-top: 25px;
}

}

/*COLORS*/

.profile:nth-of-type(1) {
	background-color: rgba(255,0,0,.5);
}
.profile:nth-of-type(2) {
	background-color: rgba(0,0,255,.5);
}
.profile:nth-of-type(3) {
	background-color: rgba(0,255,0,.5);
}
.profile:nth-of-type(4) {
	background-color: rgba(255,255,0,.5);
}
.profile:nth-of-type(5) {
	background-color: rgba(255,0,255,.5);
}
.profile:nth-of-type(6) {
	background-color: rgba(0,255,255,.5);
}
.profile:nth-of-type(7) {
	background-color: rgba(255,255,255,.5);
}
.profile:nth-of-type(8) {
	background-color: rgba(0,0,0,.5);
}
.profile:nth-of-type(9) {
	background-color: rgba(200,200,50,.5);
}
.profile:nth-of-type(10) {
	background-color: rgba(255,255,100,.5);
}














