@import "meyer-reset.css";
@import "setup.css";
@import"typography.css";


body * {
	border: 1px solid red;
}


/*PROJECT SETTINGS*/
html {
	--inner-column-width: 960px;
}


/*STRUCTURE*/
inner-column {
	display: block;
	width: 98%;
	max-width: var(--inner-column-width);
	margin-left: auto;
	margin-right: auto;
}


/*COMPONENTS*/


/*MODULES*/
masthead {
	display: block;
}

visual-introduction {
	display: block;

	display: flex;
	flex-direction: column;

	padding-top: 25px;
	padding-bottom: 25px;
}

visual-introduction .photo {
	max-width: 350px;
}

visual-introduction * {
	padding: 10px;
}

visual-introduction h1 {
	font-size: 34px;
	font-weight: 700;
}

@media(min-width: 700px) {
	visual-introduction {
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}

	visual-introduction .photo {
		flex-basis: 50% ;
	}

	visual-introduction .text {
		flex-basis: 50% ;
	}
}

call-to-action {
	display: flex;
	flex-direction: column;
	align-items: center;
}
call-to-action * {
	padding: 10px;
}

call-to-action h1 {
	font-size: 34px;
	font-weight: 700;
}

article-grid {
	display: block;
}

site-map {
	display: block;
}

/*SECTIONS*/
section.welcome {
	
}
section.learn-more {

}	
section.newsletter {

}
section.newsletter call-to-action {
	color: red;
}














.site-header .site-menu {
display: flex;
flex-direction: row;
justify-content: center;

}

.site-header .site-menu a {
	padding: 10px;
	color: blue;
	text-decoration: underline;
}

.site-header .user-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.site-header .user-menu a {
	padding: 10px;
	color: blue;
	text-decoration: underline;
}


main inner-column {
	display: flex;
	flex-direction: column;

	/*background-color: pink;*/
}
main inner-column a {
	border: 1px solid black;
	padding: 10px;
	background-color: black;
	color: white;
}


main .learn-more {
		padding-top: 25px;
		padding-bottom: 25px;
}








article h1 {
		font-size: 24px;
		font-weight: 700;
}

.article-heading {
	margin-bottom: 50px;
}

.article-card + .article-card {
	margin-top: 50px;
}

footer inner-column h1 {

		font-size: 24px;
		font-weight: 700;

}

footer .footer-menus {
	display: flex;
	flex-direction: row;
}

footer .extra-things {
	display: flex;
	flex-direction: row;
}



/*BREAK POINT 1*/

@media (min-width: 700px) {
	.site-header inner-column masthead {
		display: flex;
		flex-direction: row;
		justify-content:space-between ;
		
	}


	main .article-heading {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main .article-card-gallery {
		  	display: grid;
  			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  			grid-gap: 20px;
}

	main .article-card + .article-card {
			margin-top: 0px;
}
	footer .footer-heading {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	footer .footer-links .footer-menus {
	
		justify-content: space-evenly;

		flex-basis: 50%;
	}
	footer .footer-links .extra-things {
		justify-content: space-evenly;

		flex-basis: 50%;

	}

	footer .footer-links {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

}

