/*HEADING FONTS  */
.attention-voice {
	font-size: 36px;
	font-weight:700;
	letter-spacing:0.05em;
	font-family: "futura";
}


/* PARAGRAPH FONTS */
.calm-voice {
	font-size:20px;
	font-weight:300;
	letter-spacing:0.05em;
	line-height:1.2;
	font-family:"times"
}

/*MARGINAL FONTS  */
.details-voice {
	font-size:10px;
	font-weight:300;
	letter-spacing:0.05em;
	line-height:1.2;
	font-family:helvetica;
}

.general-voice {
	font-family:sans-serif;
	font-size:16px;
	line-height:1.5;
	letter-spacing: 0.05em;
	max-width:64ch;
	padding:10px;
}