
mast-head {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mast-head .logo {
  max-width:  60px;
}

mast-head a {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding:  10px;
  color: var(--black);
  font-weight: 700;
}


@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    
  }

}
