@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.loud-voice	{
	font-family: sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.intro-voice	{
	font-family: sans-serif;
	font-size: 40px;
}

.attention-voice	{
	font-family: sans-serif;
	font-size: 30px;
}

.something-for-site-map-headings {
	/* */
}

.calm-voice {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

/*SHAYNE'S TYPOGRAPHY*/

.command-voice {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 44px;
	line-height: 1.2em;
	color: var(--white);
	max-width: 20ch;
}

.subtle-heading {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	color: var(--white);	
}

.stand-out-voice {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
	text-transform: uppercase;
	font-weight: 700;
	font-size: 45px; 
}


/* these would be scoped to section or to an article element */
/* this is just a loose setting for now $todo */
p + p {
	margin-top: 14px;
}

h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}
