	body * {
		/*border: 1px solid red;*/

	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;
	}

	li + li {
		margin-top: 25px;
	}

	form {
		max-width: 400px;
		position: absolute;
		left: 50%;
		margin-left: -100px;
		background: linear-gradient(.25turn,#1D4350,#A43931);
		border-radius: 20px;
		padding: 10px;
		color: white;
	}

	.forms-list {
		max-width: 400px;
		position: absolute;
		left: 50%;
		margin-left: -100px;
		background: linear-gradient(.25turn,#1D4350,#A43931);
		border-radius: 20px;
		padding: 10px;
		color: white;
	}

	.message {
		font-family: sans-serif;
		font-size: 24px;
	}

	.field {
		display: flex;
		flex-direction: column;	
		justify-content: space-evenly;
	}

	.field + .field {
		margin-top: 25px;
	}

	.field label {
		font-size: 20px;
	}

	.field label + input {
		margin-top: 25px;
	}

	.field + button {
		margin-top: 25px;
	}